<div class="centralizar">
    <div class="principal">
        <h1>Alterar Usuário</h1>

        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput type="text" [(ngModel)]="nome">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Idade</mat-label>
            <input matInput type="text" [(ngModel)]="idade">
        </mat-form-field>
        <div>
            <button mat-raised-button (click)="alterar()">Alterar</button>
        </div>
    </div>
</div>
