.centralizar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 80vh;

}

.principal {
    text-align: center;
    padding: 100px;
    width: 800px; 
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.158);
    backdrop-filter: blur(5px);
    border: 1px solid black;
}

.principal mat-form-field {
    width: 50%;
    margin-bottom: 15px;
}

.principal input {
    width: 50%;
    font-size: 16px; 
}

h1 {
    text-align: center;
    padding: 15px;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
    font-family: 'Cursive', cursive;
}

.principal button {
    width: 50%;
    padding: 20px;
    font-size: 18px;
    background-color: rgb(24, 23, 24); 
    color: white;
}